label{
    color: black;
    font-weight: 600;
    font-size: large;
}
#createExpense{
    border-radius: 50%; 
    text-align: center;
}
li{
    font-size: large;
}
div.modal-header{
    background-color: cadetblue;
}
#submit{
    margin-top: 1rem;
}
#addExpense{
    font-size: large;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
body{
    color: white;
    background-image: url('444.jpg');
    overflow-x:hidden
}

nav{
    background-color: cadetblue;
}
#leadersboard{
    margin-top: 3rem;
}
li.nav-item:hover{
    font-weight: 600;
    font-size: large;
}
li.nav-item{
    color: black;
}
#paginationContainer{
    position: relative;
    bottom: 0%;
    left: 40%;
}
a.nav-link.active{
    font-weight: 600;
    color:whitesmoke
}
#expense-per-page{
    max-width: 20%;
}