body{
    color: white;
    background-image: url('../../views/images/444.jpg');
    overflow-x:hidden
}
input{
    margin-bottom: 2rem;
}
header{
    border-color: rgb(39, 62, 63);
    margin-bottom: 3rem;
}
label{
    color: rgb(79, 104, 104);
}
div.card{
    max-width: 55rem;
}

